@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/

@media only screen and (max-width : 1024px)
	.header__button-full
		padding: 12px 30px
	.logotype
		line-height: 100%
		padding: 4px 0
		img
			height: 35px
	.main_menu
		padding-left: 0
	.main_menu__item
		padding: 14px 0
		margin-right: 20px
	.catalog__item-block
		img
			max-height: 120px
	.slide__item
		margin: 0 20px
	.default__section
		padding: 40px 0

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	.slide__item
		// margin: 0px 40px

